<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Otomasyon.Properties.Settings.Musteri_kayitConnectionString"
            connectionString="Data Source=DESKTOP-S558N0I\SQLEXPRESS;Initial Catalog=Musteri_kayit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Otomasyon.Properties.Settings._202503518ConnectionString"
            connectionString="Data Source=DESKTOP-S558N0I\SQLEXPRESS;Initial Catalog=202503518;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>